In [2]:
import pandas as pd 
import numpy as np 

df = pd.read_csv("../dataset/train.csv")
df.shape
#as_index=False, sort=True

(1460, 81)

In [3]:
df.MSZoning.value_counts()

MSZoning
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: count, dtype: int64

In [12]:
grouped = df.groupby("MSZoning")

In [13]:
grouped.groups

{'C (all)': [30, 88, 93, 495, 557, 711, 812, 916, 1061, 1279], 'FV': [47, 56, 87, 105, 115, 158, 180, 212, 240, 256, 270, 281, 285, 297, 317, 377, 381, 399, 409, 412, 453, 460, 501, 507, 525, 549, 578, 603, 623, 641, 644, 650, 686, 687, 699, 755, 758, 762, 824, 829, 831, 864, 875, 885, 914, 959, 973, 975, 977, 989, 1087, 1089, 1091, 1172, 1191, 1217, 1246, 1265, 1317, 1358, 1364, 1365, 1374, 1442, 1454], 'RH': [341, 383, 543, 635, 671, 681, 778, 840, 913, 951, 955, 1030, 1206, 1234, 1264, 1326], 'RL': [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 53, 54, 55, 57, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 76, 78, 80, 82, 83, 84, 85, 86, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 109, 110, 111, 112, 113, 114, 116, 117, 118, 119, 120, 122, 123, 124, 126, 128, 129, 130, ...], 'RM': [8, 15, 21, 23, 29, 48, 51, 52, 61, 63, 68, 74, 75, 77, 79, 81, 104, 106, 107, 108, 121, 125, 127, 144, 145, 146, 149, 154, 164, 170, 179, 183, 185, 193, 198, 200, 203, 204, 217, 225, 227, 232, 235, 241, 242, 246, 251, 259, 263, 264, 268, 296, 304, 307, 312, 314, 323, 325, 329, 333, 344, 353, 357, 363, 365, 398, 413, 420, 425, 430, 431, 432, 434, 436, 437, 442, 448, 449, 450, 456, 458, 465, 472, 479, 482, 483, 489, 490, 494, 500, 505, 508, 522, 531, 548, 551, 555, 579, 583, 584, ...]}

In [18]:
df.groupby(["MSZoning", "Alley"], sort=False).count()

,,Id,MSSubClass,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSZoning,Alley,,,,,,,,,,,,,,,,,,,,,
RM,Grvl,36,36,33,36,36,36,36,36,36,36,...,36,0,11,2,36,36,36,36,36,36
C (all),Pave,2,2,2,2,2,2,2,2,2,2,...,2,0,1,0,2,2,2,2,2,2
FV,Pave,24,24,24,24,24,24,24,24,24,24,...,24,0,0,0,24,24,24,24,24,24
RL,Grvl,14,14,14,14,14,14,14,14,14,14,...,14,0,3,2,14,14,14,14,14,14
RM,Pave,7,7,7,7,7,7,7,7,7,7,...,7,0,1,0,7,7,7,7,7,7
RL,Pave,6,6,4,6,6,6,6,6,6,6,...,6,0,2,0,6,6,6,6,6,6
RH,Pave,2,2,2,2,2,2,2,2,2,2,...,2,0,0,0,2,2,2,2,2,2

In [19]:
def total_area(group_df):
    """
    Ked chcem z vlastnej funkcie vratit viac stlpcov staci vratit pandas Series objekt kde index bude tvorit nazvy stlpcov
    """
    return pd.Series([(group_df.LotArea + group_df.LotFrontage).sum(), (group_df.LotArea + group_df.LotFrontage).mean()], index=["sum", "mean"])

df.groupby(["MSZoning"]).apply(total_area)

                 sum          mean
MSZoning
C (all)      95710.0   9571.000000
FV          401857.0   7050.122807
RH           90710.0   6977.692308
RL        10144782.0  11003.017354
RM         1303061.0   6548.045226

In [20]:
df.groupby(["MSZoning"]).apply(total_area)

                 sum          mean
MSZoning
C (all)      95710.0   9571.000000
FV          401857.0   7050.122807
RH           90710.0   6977.692308
RL        10144782.0  11003.017354
RM         1303061.0   6548.045226